.footerAnimation {
  line-height: 18px;
  letter-spacing: -0.5px;
  background: var(
    --gradient-secondary,
    linear-gradient(
      67deg,
      rgba(244, 184, 184, 0.4) 15.02%,
      rgba(234, 214, 181, 0.4) 30.83%,
      rgba(227, 234, 179, 0.4) 46.3%,
      rgba(197, 241, 208, 0.4) 84.98%
    ),
    #fff
  );
}

.marqueeInner {
  display: flex;
  width: fit-content;
  animation: marquee 40s linear infinite;
  white-space: nowrap;
  will-change: transform;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
