.title {
  line-height: 30px; /* 115.385% */
  letter-spacing: -0.5px;
}

.subtitle {
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.5px;
}

.listItem {
  line-height: 24px;
  letter-spacing: -0.5px;
}
