@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #232325;
  --font-wix-madefor: 'Wix Madefor Display', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #232325;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-wix-madefor), sans-serif;
}
